
#liste {
    display: none;
    height: 50px;
    overflow-y: hidden;
}

.link span {
    color: blue;
    text-decoration: none;
    cursor: pointer;
  }

  li.link span:hover {
    color: #00f;
    text-decoration: underline;
  }